<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <title>NadBin | Bin</title>
</head>

<body>
    <div style="width: 70%; margin: 0 15%;">
        <span class="title">{{bin}}</span><br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="files">

            </tbody>
        </table>
        <br />
        <button class="upload-button" onclick="upload();">Upload</button>
        <br /><br />
        <div id="upload-progresses"></div>
    </div>

    <script>
        const uploadProgresses = document.getElementById("upload-progresses");

        async function upload() {
            let fileInput = document.createElement("input");
            fileInput.type = "file";

            function uploadFile() {
                const file = fileInput.files[0];
                if (!file) return;

                const uploadProgress = document.createElement("div");
                const uploadText = document.createElement("span");
                const uploadBar = document.createElement("div");

                uploadProgress.classList.add("upload-progress");

                uploadBar.classList.add("upload-bar");

                uploadProgress.appendChild(uploadText);
                uploadProgress.appendChild(uploadBar);

                let xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (e) {
                    if (e.lengthComputable) {
                        const percentComplete = (e.loaded / e.total) * 100;
                        uploadText.innerText = `${file.name} - ${percentComplete.toFixed(2)}% | ${(e.loaded / 1024 / 1024).toFixed(3)}MiB / ${(e.total / 1024 / 1024).toFixed(3)}MiB`;
                        uploadBar.style.width = `${percentComplete}%`;
                    }
                });

                xhr.addEventListener("load", function () {
                    update();
                    uploadProgress.remove();
                });

                xhr.addEventListener('error', function () {
                    alert("Upload failed");
                    uploadProgress.remove();
                });

                xhr.open("POST", `/{{bin}}/${file.name}`, true);

                const formData = new FormData();
                formData.append("file", file);

                xhr.send(formData);

                uploadProgresses.appendChild(uploadProgress);
            }

            fileInput.onchange = uploadFile;
            fileInput.click();
        }

        async function update() {
            // the ?bin search param does nothing, it's just here to prevent browsers from displaying json instead of the site sometimes
            let result = await fetch("/{{bin}}?bin", { method: "GET", headers: { "Accept": "application/json" } });
            let data = await result.json();

            if (result.status === 200) {
                document.getElementById("files").innerHTML = "";
                for (const file of data.files) {
                    let tr = document.createElement("tr");

                    function addColumn(element) {
                        let td = document.createElement("td");
                        td.appendChild(element);
                        tr.appendChild(td);
                    }

                    let name = document.createElement("a");
                    name.href = `/{{bin}}/${file.name}`;
                    name.innerText = file.name;
                    addColumn(name);

                    let size = document.createElement("span");
                    size.innerText = file.size;
                    addColumn(size);

                    let type = document.createElement("span");
                    type.innerText = file.type;
                    addColumn(type);


                    document.getElementById("files").appendChild(tr);
                }
            }
        }

        update();
    </script>
</body>

</html>