@font-face {
    font-family: "Quicksand";
    font-display: swap;
    src: url(/Quicksand.ttf);
}

/* ****** */
/* GLOBAL */
/* ****** */


body {
    font-family: "Quicksand";
    background-color: #131313;
    color: white;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.2rem;
    letter-spacing: -0.01rem;
    font-weight: lighter;
    color: #aaaaaa;
}

.upload-button {
    font-size: 14px;
    background-color: #2f6fce;
    color: white;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.upload-button:hover {
    background-color: #1a52a7;
}

.remove-button {
    font-size: 14px;
    background-color: #ce2f2f;
    color: white;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.remove-button:hover {
    background-color: #ac1b1b;
}

.warning {
    width: 100%;
    background-color: #ffba0026;
    border-left: solid 5px #ffba00;
    padding: 20px;
    border-radius: 5px;
    margin: 3px 0;
}

a {
    color: #2080ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* *********** */
/* /index.html */
/* *********** */

#index-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#index-container .title-container {
    font-family: Quicksand;
    line-height: 1.46rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    align-items: center;
}

#index-container .title-container .title {
    font-size: 2.2rem;
    letter-spacing: -0.06rem;
}

#drop_zone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px dotted #555555;
    border-radius: 5vw 5vw;
    margin: 3%;
}

/* **** */
/* /bin */
/* **** */

table {
    font-family: "Quicksand";
    width: 100%;
    background-color: #181818;
    border-radius: 10px;
    border-collapse: collapse;
    -webkit-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 1);
}

td,
th {
    font-family: "Quicksand";
    text-align: left;
    padding: 14px;
    font-weight: normal;
}

thead tr {
    border-bottom: 1px solid #555555;
    padding: 3px;
}

tbody tr {
    border-bottom: 1px solid #555555;
    padding: 3px;
}

tbody tr:nth-child(odd) {
    background-color: #212121;
}

tbody tr:last-child {
    border-bottom: none;
}


table a {
    color: #7ecbff;
    text-decoration: none;
}

#upload-progresses .upload-progress {
    margin: 5px 0;
    padding: 15px;
    background-color: #1a1a1a;
    border-radius: 5px;
    width: 100%;
    position: relative;
}

#upload-progresses .upload-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #2080ff;
}

.delete-button {
    background-image: url(./trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 13px;
    height: 0;
    width: 0;
    vertical-align: middle;
    cursor: pointer;
}